@{
}
@model Manisai_WEB_MVC.Models.Testmaster

<h3>Add New Test</h3>

<form asp-action="Create">

    Course:
    @Html.DropDownList("Fkcourseid", new SelectList(ViewBag.courses, "Id", "Coursename"), "Select a course", new { @class = "form-select" })

    <!-- below is the way we generate html elements using Tag Helpers-->
    Test Name:
    <input asp-for="@Model.Testname" class="form-control" />
    <br />

    <!-- below is the way we generate html elements using Html Helper extension methods -->
    Duration:
    @Html.TextBoxFor(test => Model.Duration, new { @class = "form-control" })
    <br />

    <!-- below is the way we generate html using traditional html tags-->
    Totquestions:
    <input type="number" id="Totquestions" name="Totquestions" class="form-control" />
    <br />

    <input type="submit" value="Create" />
</form>


